<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nfsn.mapper.AddressMapper">

    <resultMap id="BaseResultMap" type="com.nfsn.model.entity.Address">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="user_id" column="user_id" jdbcType="INTEGER"/>
            <result property="province_id" column="province_id" jdbcType="INTEGER"/>
            <result property="city_id" column="city_id" jdbcType="INTEGER"/>
            <result property="region_id" column="region_id" jdbcType="INTEGER"/>
            <result property="detail_address" column="detail_address" jdbcType="VARCHAR"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
            <result property="is_default" column="is_default" jdbcType="TINYINT"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,province_id,
        city_id,region_id,detail_address,
        deleted,is_default,update_time,
        create_time
    </sql>
</mapper>
