<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nfsn.mapper.ArticleMapper">

    <resultMap id="BaseResultMap" type="com.nfsn.model.entity.Article">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="locationInfoId" column="location_info_id" jdbcType="INTEGER"/>
            <result property="articleUrl" column="article_url" jdbcType="VARCHAR"/>
            <result property="articleContent" column="article_content" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="coverUrl" column="cover_url" jdbcType="VARCHAR"/>
            <result property="likeCount" column="like_count" jdbcType="INTEGER"/>
            <result property="collectionCount" column="collection_count" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,location_info_id,
        article_url,article_content,create_time,
        cover_url,like_count,collection_count
    </sql>
</mapper>
