<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nfsn.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.nfsn.model.entity.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="CHAR"/>
            <result property="introduction" column="introduction" jdbcType="VARCHAR"/>
            <result property="age" column="age" jdbcType="TINYINT"/>
            <result property="place" column="place" jdbcType="VARCHAR"/>
            <result property="lastLoginIp" column="last_login_ip" jdbcType="VARCHAR"/>
            <result property="lastLoginIpPlace" column="last_login_ip_place" jdbcType="VARCHAR"/>
            <result property="registrationTime" column="registration_time" jdbcType="TIMESTAMP"/>
            <result property="loginTime" column="login_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_name,phone,
        avatar,gender,introduction,
        age,place,last_login_ip,
        last_login_ip_place,registration_time,login_time
    </sql>
</mapper>
