<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nfsn.mapper.UserFollowMapper">

    <resultMap id="BaseResultMap" type="com.nfsn.model.entity.UserFollow">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="bloggerId" column="blogger_id" jdbcType="INTEGER"/>
            <result property="fansId" column="fans_id" jdbcType="INTEGER"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,blogger_id,fans_id,
        update_time,create_time
    </sql>
</mapper>
